body {
    margin: 0;
    background-color: var(--background-white);
    color: var(--blue-900);
    height: 100vh;
    width: 100vw;
    font-size: 1.8rem;
    line-height: 1.7em;
    padding-bottom: 5%;
    font-family: system-ui, Helvetica, Arial, Tahoma, sans-serif;
}

main {
    background-color: var(--background-white);
    padding: 0% 5%;
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
}

h1 {
    font-size: 2em;
    border-bottom: 0.2rem solid var(--blue-200);
    margin: 0;
    margin-top: 0.5em;
    padding: 0.5em 0;
    width: 100%;
    line-height: 1.5em;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4em;
    color: var(--blue-900);
    background-color: var(--green-150);
    gap: 1rem;
}

a {
    color: var(--blue-700);
    text-decoration: none;
}

.logo-skiplink-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10%;
    height: 100%;
}

.skip-to-content {
    padding: 0.2em;
    margin: 0;
    border-bottom: solid 0.2em var(--background-white);
    color: var(--blue-900);
    width: fit-content;
}

.skip-to-content:hover {
    background-color: var(--background-white);
    color: var(--blue-800);
}

.skip-to-content:focus-visible {
    background-color: var(--background-white);
    color: var(--blue-800);
}

.doro-logo {
    padding-left: 1rem;
    max-width: 7%;
    min-width: 7rem;
}

nav {
    display: flex;
    justify-content: center;
    min-width: fit-content;
    height: 100%;
}

.nav-link {
    font-size: 2rem;
    color: var(--blue-900);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
    height: 100%;
    white-space: no-wrap;
}

.nav-link:hover {
    background-color: var(--green-200);
}

.nav-link:focus-visible {
    outline-offset: -1rem;
    background-color: var(--green-200);
}

.line {
    height: 0;
    background-color: transparent;
}

.active {
    background-color: var(--background-white);
}

.contact-links-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    background-color: var(--blue-100);
    width: 100%;
    justify-content: center;
    height: 10rem;
}


*:focus-visible {
    outline: solid 0.3rem var(--blue-300);
}

@media (max-width: 700px) {
    main {
        padding: 0 5%;
        padding-bottom: 5%;
    }

    header {
        padding: 0;
        margin: 0;
        height: fit-content;
    }

    .doro-logo {
        padding: 0;
        max-width: 5vw;
        min-width: 7rem;
    }

    nav {
        flex-direction: column;
        gap: 0;
        padding: 0;
        min-width: fit-content;
    }

    .nav-link {
        padding: 0.5rem 0.5rem;
        min-width: 4em;
    }

    .nav-link:focus-visible {
        outline-offset: -0.4rem;
        outline-width: 0.4rem;
    }

    .active {
        margin-left: -1.5em;
        background-color: var(--green-200);
    }

    .line {
        height: 0.2rem;
        background-color: var(--blue-300);
    }

    .line.before-active {
        margin-left: -1.9em;
    }

    .active + .line {
        margin-left: -1.9em;
    }

    .logo-skiplink-container{
        flex-direction: column;
        gap: 3rem;
        align-items: flex-start;
        padding: 2.5rem;
    }

    .skip-to-content {
        text-align: center;
    }

    .contact-links-container {
        flex-direction: column;
        margin-top: 4rem;
        height: fit-content;
    }
}

.external-link {
    align-self: start;
    width: fit-content;
    padding: 0.5em;
    text-decoration: none;
}
  
.external-link:focus-visible {
    background-color: var(--green-200);
}
  
.external-link:hover {
    background-color: var(--green-200);
}
  
.external-link:visited {
    color: var(--purple-500);
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

:root {
    font-size: 10px;

    /* main brand */
  --green-900: #1A5D60;
  --green-800: #1F7073;
  --green-700: #248386;
  --green-600: #299599;
  --green-550: #2EA8AC;
  --green-500: #34babf;
  --green-450: #55C8CC;
  --green-400: #67CFD2;
  --green-300: #7AD6D9;
  --green-200: #8EDCDF;
  --green-250: #A2E3E6;
  --green-200: #B8EAEC;
  --green-150: #CFF1F2;
  --green-100: #E6F8F9;

  /* second brand */
  --blue-900: #1C2F3C;
  --blue-850: #2A465A;
  --blue-800: #315269;
  --blue-700: #395E78;
  --blue-600: #406A87;
  --blue-500: #477597;
  --blue-450: #5481A1;
  --blue-400: #638DAB;
  --blue-350: #729AB6;
  --blue-300: #83A7C0;
  --blue-250: #95B4CB;
  --blue-200: #A8C2D5;
  --blue-150: #D1E0EA;
  --blue-100: #E8EFF5;

  /* highlight 1 */
  --yellow-900: #4D3914;
  --yellow-800: #805E21;
  --yellow-700: #B3842E;
  --yellow-600: #E6AA3C;
  --yellow-500: #FFBE42;
  --yellow-400: #FFCA68;
  --yellow-300: #FFD78E;
  --yellow-200: #FFDEA1;
  --yellow-100: #FFEBC6;

  /* highlight 2 */
  --purple-500: #680166;
  --purple-450: #780D76;
  --purple-400: #871C85;
  --purple-350: #962E94;
  --purple-300: #A543A3;
  --purple-250: #C376C2;
  --purple-200: #D294D1;
  --purple-150: #E1B4E0;
  --purple-100: #F0D8F0;

  /* grey */
  --grey-900: #414141;
  --grey-850: #505152;
  --grey-800: #5F6162;
  --grey-700: #6B6E6F;
  --grey-600: #787B7D;
  --grey-500: #84888A;
  --grey-450: #919597;
  --grey-400: #9DA2A5;
  --grey-350: #AAAEB2;
  --grey-300: #B6BBC0;
  --grey-250: #C3C8CD;
  --grey-200: #CFD5DA;
  --grey-150: #DCE2E8;
  --grey-100: #E8EFF5;

/* off-white background */
--background-white: #F9F9FB;
}
