body {
  background-color: #f3f3f3;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 36rem;
  margin: 0 auto;
  padding: 0 2rem;
  color: #002e34;
}

nav {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav > a {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  text-decoration: none;
}

nav > a:hover {
  background-color: #3f686f27;
}

nav > a[aria-current="page"] {
  border-bottom: 2px solid #002e34;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

iframe {
  display: block;
  max-width: 36rem;
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  margin-block: 1rem;
}

@supports not (aspect-ratio: 16 / 9) {
  iframe {
    height: 56.25vw;
    max-height: 80vh;
  }
}
