body {
  background-color: var(--surface-page);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 36rem;
  margin: 0 auto;
  padding: 0.5rem 2rem 2rem;
  color: var(--text-default);
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav > a {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  text-decoration: none;
  font-weight: 500;
  border-bottom: 2px solid transparent;
}

nav > a:hover {
  background-color: var(--link-hover-bg);
}

nav > a[aria-current="page"] {
  border-color: var(--border-default);
}

nav > a:link {
  color: var(--text-default);
}

nav > a:visited {
  color: var(--text-default);
}

li {
  line-height: 2rem;
}

mark {
  background-color: var(--surface-mark);
  border: 2px solid var(--border-mark);
  border-style: outset;
  padding: 4px;
  border-radius: 4px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

iframe {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  margin-block: 1rem;
}

:root {
  --border-default: #002e34;
  --border-mark: #ddd;
  --link-default: #002e34;
  --link-hover-bg: #3f686f27;
  --surface-page: #f3f3f3;
  --surface-mark: #fff;
  --text-default: #002e34;
}
