body {
  background-color: #f3f3f3;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 36rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;
}

/* em {
  font-style: normal;
  font-weight: 600;
} */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

iframe {
  display: block;
  max-width: 36rem;
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  margin-block: 1rem;
}

@supports not (aspect-ratio: 16 / 9) {
  iframe {
    height: 56.25vw;
    max-height: 80vh;
  }
}
