body {
  background-color: var(--surface-page);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 36rem;
  margin: 0 auto;
  padding: 0.5rem 2rem 2rem;
  color: var(--text-default);
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

a:link {
  color: var(--link-default);
}

a:visited {
  color: var(--link-visited);
}

nav > a {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  text-decoration: none;
  font-weight: 500;
  border-bottom: 2px solid transparent;
}

nav > a:hover {
  background-color: var(--nav-link-hover-bg);
}

nav > a[aria-current="page"] {
  border-color: var(--border-default);
}

nav > a:link {
  color: var(--nav-link-default);
}

nav > a:visited {
  color: var(--nav-link-default);
}

li {
  line-height: 2rem;
}

mark {
  background-color: var(--surface-mark);
  border: 2px solid var(--border-mark);
  border-style: outset;
  padding: 4px;
  border-radius: 4px;
  color: var(--text-default);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

iframe {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  margin-block: 1rem;
}

:root {
  --border-default: #002e34;
  --border-mark: #ddd;
  --nav-link-default: #002e34;
  --nav-link-hover-bg: #3f686f27;
  --surface-page: #f3f3f3;
  --surface-mark: #fff;
  --text-default: #002e34;
  --link-default: #0000EE;
  --link-visited: #551A8B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-default: #f3f3f3;
    --border-mark: #777;
    --nav-link-default: #f3f3f3;
    --nav-link-hover-bg: #3f686f40;
    --surface-page: #002e34;
    --surface-mark: #333;
    --text-default: #f3f3f3;
    --link-default: #7AA2FF;
    --link-visited: #B48EFC;
  }
}
