section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.project-article {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
  padding: 2rem;
  box-shadow: inset -1px -1px 5px var(--grey-200);
}

.project-header {
  grid-column: 1 / span 2;
}

.project-paragraph {
  grid-column: 1;
  grid-row: 2;
}

.project-link {
  grid-column: 1;
  grid-row: 3;
  align-self: start;
  width: fit-content;
  padding: 0.5em;
  font-weight: bold;
  text-decoration: none;
}

.project-link:focus-visible {
  background-color: var(--green-200);
}

.project-link:hover {
  background-color: var(--green-200);
}

.project-link:visited {
  color: var(--purple-500);
}

.project-picture {
  grid-column: 2;
  grid-row: 2 / span 2;
  max-width: 100%;
  height: auto;
  padding-left: 1rem;
}
